case template
    when 1
        | Welcome to my profile
    when 2
        | У меня тут статус каждую минуту меняется...
    when 3
        | Авто статус - On
    when 4
        | vk.com/biba_bot
    when 5
        | Авто-статус, гучи флип флап