case user
    when '133124411'
        case template
            when 1
                | 🤘🏻 Е Рок
            when 2
                | 23834
            when 3
                | АААААААААААААААААА
            when 4
                | I WANNA DIE
