case user
    when 133124411
        case template
            when 1
                | 🤘 inst - kutukov.ilya 🤘
    when 211845323
        case template
            when 1
                | Я бот.
            when 2
                | Привет.

