case user
    when 133124411
        case template
            when 1
                | 🤘 inst - kutukov.ilya 🤘
    when 447053323
        case template
            when 1
                | Я слежу за тобой
            when 2
                | Я тебя люблю
