case key
    when 'night_rule'
        case template
            when 1
                | 💬 Время 0:00.
                | Ночные правила вступили в силу.
            when 2
                | 💬 Наступила полночь.
                | Даю добро на ночные правила.
    when 'good_morning'
        case template
            when 1
                | 💬 Время 6:00
                | Всем доброго утра, ночные правила больше не работают.
            when 2
                | 💬 Утречка всем.
                | Ночные правила ушли спать.
    when 'ferma'
        case template
            when 1
                | 💬 Не знаю зачем, но давайте пофармим коины для беседы.
                | https://vk.cc/aBUAnz - переходим и пишем в комменты ферма.
                | Потом пишем тут 'б-коин {число}'.
            when 2
                | 💬 Привет! Го коины фармить для беседы.
                | https://vk.cc/aBUAnz - переходим и пишем в комменты ферма.
                | Потом пишем тут 'б-коин {число}'.
            when 3
                | 💬 Давайте поднимать нашу беседу в топ! Хз зачем, но надо.
                | https://vk.cc/aBUAnz - переходим и пишем в комменты ферма.
                | Потом пишем тут 'б-коин {число}'.
            when 4
                | 💬 Всем привет. Как проходит ваш день?
            when 5
                | 💬 Закиньте коинов для беседы. =)
                | Спасибо.
            when 6
                | 💬 Как у вас делишки?